body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(18, 18, 31);
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 1em;
}

a {
  color: rgb(255, 255, 110);
}
/*
/
/
*/
/* NAVBAR */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: wrap;
}

.ul-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navlink-item {
  margin-left: 15px;
  list-style: none;
  padding-right: 15px;
}

.nav-brand {
  color: whitesmoke;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 2px;
  
}

.yellow-letter {
  padding-left: 3px;
  color: rgb(255, 255, 110);
  border-bottom: 1px solid rgb(255, 255, 110);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: rgb(255, 255, 110);
}

/* NAVBAR */
/*
/
/
*/
/* LOGIN */
.login-container {
  margin: 0 auto;
}


/* LOGIN */
/*
/
/
*/
/* REGISTER */
.register-container {
  margin: 0 auto;
}


/* REGISTER */
/*
/
/
*/
/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {

  .ul-links.active-false {
    display: none;
  }
  .ul-links.active-true {
    display: flex; 
  }

  .ul-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;
    margin-top: 0em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0px;
  }

  .navlink-item {
    padding: 0.5rem;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

}
/*MEDIA QUERIES*/
